<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.divine.sbdemo.daos.ShopHomeDao">
    <resultMap id="ShopHomeFunctionMap" type="ShopHomeFunction">
        <result property="functionId" column="id"/>
        <result property="functionName" column="function_name"/>
        <result property="functionTitle" column="function_title"/>
        <result property="functionImg" column="function_img"/>
        <result property="functionShow" column="function_show"/>
    </resultMap>
    <insert id="insertFunction" parameterType="ShopHomeFunction">
        insert into home_common_function (id, function_name, function_title, function_img, function_show)
        values (#{functionId}, #{functionName}, #{functionTitle}, #{functionImg}, #{functionShow})
    </insert>
    <delete id="deleteFunction" parameterType="ShopHomeFunction">
        delete
        from home_common_function
        where id = #{functionId}
    </delete>
    <update id="updateFunction" parameterType="ShopHomeFunction">
        update home_common_function
        set function_name=#{functionName},
            function_title=#{functionTitle},
            function_img=#{functionImg},
            function_show=#{functionShow}
        where id = #{functionId}
    </update>
    <select id="queryFunction" resultType="ShopHomeFunction" resultMap="ShopHomeFunctionMap">
        select *
        from home_common_function
    </select>
</mapper>